meta[name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no"]
meta[name="google-site-verification" content="VulmHBpEWVftOxYGiDaaMqaetSnNSZQV4FbW0SJ09Zk"]
= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"]
script[async src="https://www.googletagmanager.com/gtag/js?id=UA-127545283-4"]
script
  |  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-127545283-4');
script
  |  !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '282610402657027'); fbq('track', 'PageView');
noscript
  img[height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=282610402657027&ev=PageView&noscript=1"]
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= favicon_link_tag('favicon.ico')
= display_meta_tags(default_meta_tags)
